html {
    box-sizing: border-box;
    min-width: 320px;

    
}

body {
    
    margin: 0;
    height: 100%;
    
   
    
    /* background:#2b2b2b; */
}

header {
    background: cover;
    width:100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M225.399%2c416.736C264.842%2c415.781%2c294.516%2c383.911%2c312.436%2c348.76C328.594%2c317.065%2c328.339%2c280.155%2c310.812%2c249.196C293.009%2c217.75%2c261.524%2c195.893%2c225.399%2c195.019C187.745%2c194.108%2c151.855%2c212.562%2c132.511%2c244.88C112.64%2c278.077%2c112.344%2c319.124%2c130.741%2c353.16C150.112%2c388.998%2c184.673%2c417.722%2c225.399%2c416.736' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M393.435%2c494.331C437.592%2c493.637%2c485.232%2c486.75%2c508.525%2c449.23C532.826%2c410.086%2c525.397%2c359.78%2c501.374%2c320.465C478.407%2c282.879%2c437.483%2c261.079%2c393.435%2c260.882C349.025%2c260.684%2c307.561%2c281.966%2c283.815%2c319.494C258.22%2c359.944%2c246.477%2c412.393%2c271.905%2c452.949C296.27%2c491.809%2c347.574%2c495.052%2c393.435%2c494.331' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M351.035%2c417.33C372.496%2c417.947%2c397.724%2c420.701%2c409.302%2c402.621C421.377%2c383.765%2c411.459%2c359.95%2c400.16%2c340.619C388.998%2c321.522%2c373.137%2c303.813%2c351.035%2c302.931C327.616%2c301.997%2c305.857%2c315.841%2c294.617%2c336.408C283.801%2c356.199%2c285.398%2c380.928%2c298.297%2c399.429C309.676%2c415.751%2c331.146%2c416.758%2c351.035%2c417.33' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1224.365%2c443.467C1284.102%2c445.492%2c1340.597%2c409.62%2c1366.968%2c355.981C1390.91%2c307.284%2c1370.713%2c251.712%2c1340.947%2c206.341C1314.525%2c166.067%2c1272.533%2c138.504%2c1224.365%2c138.62C1176.395%2c138.735%2c1133.698%2c165.927%2c1108.751%2c206.9C1082.667%2c249.741%2c1075.559%2c301.785%2c1097.582%2c346.848C1122.587%2c398.014%2c1167.449%2c441.537%2c1224.365%2c443.467' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M14.946%2c391.881C40.734%2c389.949%2c60.755%2c373.239%2c75.222%2c351.804C92.336%2c326.448%2c110.756%2c296.885%2c97.752%2c269.196C83.385%2c238.606%2c48.709%2c221.966%2c14.946%2c223.459C-16.585%2c224.853%2c-40.57%2c248.509%2c-56.077%2c275.999C-71.259%2c302.912%2c-79.458%2c335.839%2c-63.311%2c362.185C-47.685%2c387.681%2c-14.874%2c394.116%2c14.946%2c391.881' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1065.33 30.01 a115.31 115.31 0 1 0 230.62 0 a115.31 115.31 0 1 0 -230.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M120.075%2c640.815C182.05%2c644.38%2c240.624%2c608.203%2c270.45%2c553.76C299.222%2c501.24%2c291.784%2c436.875%2c259.396%2c386.504C229.557%2c340.098%2c175.221%2c321.57%2c120.075%2c319.895C61.086%2c318.103%2c-5.708%2c326.178%2c-34.717%2c377.572C-63.439%2c428.457%2c-32.666%2c487.658%2c-3.048%2c538.026C25.997%2c587.421%2c62.868%2c637.524%2c120.075%2c640.815' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1093.939%2c333.7C1154.583%2c332.793%2c1208.067%2c296.542%2c1237.911%2c243.742C1267.264%2c191.811%2c1267.614%2c129.205%2c1239.159%2c76.777C1209.274%2c21.714%2c1156.571%2c-20%2c1093.939%2c-21.52C1028.839%2c-23.1%2c967.891%2c12.659%2c935.977%2c69.421C904.661%2c125.119%2c909.528%2c193.316%2c942.311%2c248.163C974.221%2c301.55%2c1031.749%2c334.63%2c1093.939%2c333.7' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M407.46 546.08 a118.49 118.49 0 1 0 236.98 0 a118.49 118.49 0 1 0 -236.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}
a {
    text-decoration: none;
}
.nav-bar {
    padding-top: 20px;
    display: flex  col;
    align-items: center;
    background: rgba(28, 83, 142, 0.4);
    
    

}


.nav-links a {
    display: flex;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 20px;
    color: #f8d605;
    text-decoration: none;
    
}

.profile-picture {
   margin: 0px auto;
   display: flex;
   justify-content: center;
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.6);
    
    
}
li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin: 10px 6px;
    text-align: center;
}



ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.welcome-title{
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    margin-bottom: 0px;
    text-align: center;
    color: antiquewhite;
    line-height: 70px;
  
}
.short-bio {
   text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    width: 90%;
    margin: 20px auto;
    font-weight: 200;
    color: #e5ab09;
    
}

.socials-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 83, 142, 0.4);
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.2);
    margin-top: 20px;
    
}
.socials {
    margin: 10px;
    font-size: 2rem;
    cursor: pointer;
    padding: 7px;
    text-align: center;

}
.projects-btn {
    background: #f8d605;
    color: #0E2A47;
    width: 150px;
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 1em;
    cursor: pointer;

}

.projects-btn:hover {
    background: antiquewhite;
    color: #0E2A47;

}


i {
    color:#f8d605;
    text-decoration: none;
}
i:hover {
    color:antiquewhite;
}
.arrow-btn {
    font-size: 1.5rem;
    margin-top: 50px;

    text-align: center;
    padding-bottom: 70px;
    
}

.about{
    background: antiquewhite;
   height:600px;

}

.projects {
    padding-top: 10px;
    
}

.page-title{
    font-family:'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;

}
h1{
    text-align: center;
    color: #f8d605 ;
   

}
.projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap: 10px;
    margin-left: 3%;
    margin-right: 3%;
    
    
    
}

.card-project {
   
    border: 1px solid rgba(248,214,5);
    background: rgba(248,214,5, 0.5);
    border-radius: 20px;
    width: 100%;
    height: 550px;
    box-shadow: 2px 4px 10px rgba(248,214,5, 0.4);
    display:flex;
    flex-wrap: wrap;
    

}

h2{
    margin-top: 10px;
    margin-bottom: 0px;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    text-align: center;
    margin: 0 auto;
    color:#0E2A47;
    font-family: 'Bebas Neue', sans-serif;
   
}

.laptop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.laptop{
    
    width:100%;
    padding-bottom: 10px;
}


.project-description {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    
}

.card-buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap:10px;
  
}
.card-btn {
    color: #f8d605;
    background: #0E2A47;
    text-align: center;
    width: 120px;
    padding: 7px 15px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 20px;
    cursor: pointer; 
    
}





/* Media Queries */

@media (min-width:321) and (max-width:767px){
    header {
        background-size:cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M225.399%2c416.736C264.842%2c415.781%2c294.516%2c383.911%2c312.436%2c348.76C328.594%2c317.065%2c328.339%2c280.155%2c310.812%2c249.196C293.009%2c217.75%2c261.524%2c195.893%2c225.399%2c195.019C187.745%2c194.108%2c151.855%2c212.562%2c132.511%2c244.88C112.64%2c278.077%2c112.344%2c319.124%2c130.741%2c353.16C150.112%2c388.998%2c184.673%2c417.722%2c225.399%2c416.736' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M393.435%2c494.331C437.592%2c493.637%2c485.232%2c486.75%2c508.525%2c449.23C532.826%2c410.086%2c525.397%2c359.78%2c501.374%2c320.465C478.407%2c282.879%2c437.483%2c261.079%2c393.435%2c260.882C349.025%2c260.684%2c307.561%2c281.966%2c283.815%2c319.494C258.22%2c359.944%2c246.477%2c412.393%2c271.905%2c452.949C296.27%2c491.809%2c347.574%2c495.052%2c393.435%2c494.331' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M351.035%2c417.33C372.496%2c417.947%2c397.724%2c420.701%2c409.302%2c402.621C421.377%2c383.765%2c411.459%2c359.95%2c400.16%2c340.619C388.998%2c321.522%2c373.137%2c303.813%2c351.035%2c302.931C327.616%2c301.997%2c305.857%2c315.841%2c294.617%2c336.408C283.801%2c356.199%2c285.398%2c380.928%2c298.297%2c399.429C309.676%2c415.751%2c331.146%2c416.758%2c351.035%2c417.33' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1224.365%2c443.467C1284.102%2c445.492%2c1340.597%2c409.62%2c1366.968%2c355.981C1390.91%2c307.284%2c1370.713%2c251.712%2c1340.947%2c206.341C1314.525%2c166.067%2c1272.533%2c138.504%2c1224.365%2c138.62C1176.395%2c138.735%2c1133.698%2c165.927%2c1108.751%2c206.9C1082.667%2c249.741%2c1075.559%2c301.785%2c1097.582%2c346.848C1122.587%2c398.014%2c1167.449%2c441.537%2c1224.365%2c443.467' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M14.946%2c391.881C40.734%2c389.949%2c60.755%2c373.239%2c75.222%2c351.804C92.336%2c326.448%2c110.756%2c296.885%2c97.752%2c269.196C83.385%2c238.606%2c48.709%2c221.966%2c14.946%2c223.459C-16.585%2c224.853%2c-40.57%2c248.509%2c-56.077%2c275.999C-71.259%2c302.912%2c-79.458%2c335.839%2c-63.311%2c362.185C-47.685%2c387.681%2c-14.874%2c394.116%2c14.946%2c391.881' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1065.33 30.01 a115.31 115.31 0 1 0 230.62 0 a115.31 115.31 0 1 0 -230.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M120.075%2c640.815C182.05%2c644.38%2c240.624%2c608.203%2c270.45%2c553.76C299.222%2c501.24%2c291.784%2c436.875%2c259.396%2c386.504C229.557%2c340.098%2c175.221%2c321.57%2c120.075%2c319.895C61.086%2c318.103%2c-5.708%2c326.178%2c-34.717%2c377.572C-63.439%2c428.457%2c-32.666%2c487.658%2c-3.048%2c538.026C25.997%2c587.421%2c62.868%2c637.524%2c120.075%2c640.815' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1093.939%2c333.7C1154.583%2c332.793%2c1208.067%2c296.542%2c1237.911%2c243.742C1267.264%2c191.811%2c1267.614%2c129.205%2c1239.159%2c76.777C1209.274%2c21.714%2c1156.571%2c-20%2c1093.939%2c-21.52C1028.839%2c-23.1%2c967.891%2c12.659%2c935.977%2c69.421C904.661%2c125.119%2c909.528%2c193.316%2c942.311%2c248.163C974.221%2c301.55%2c1031.749%2c334.63%2c1093.939%2c333.7' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M407.46 546.08 a118.49 118.49 0 1 0 236.98 0 a118.49 118.49 0 1 0 -236.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        height: 100%;
        overflow: hidden;
    }
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(28, 83, 142, 0.4);
        margin: 0;
        
    }


    
}

@media (min-width: 768px) and (max-width: 1023px){

    header {
        background-size:cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M225.399%2c416.736C264.842%2c415.781%2c294.516%2c383.911%2c312.436%2c348.76C328.594%2c317.065%2c328.339%2c280.155%2c310.812%2c249.196C293.009%2c217.75%2c261.524%2c195.893%2c225.399%2c195.019C187.745%2c194.108%2c151.855%2c212.562%2c132.511%2c244.88C112.64%2c278.077%2c112.344%2c319.124%2c130.741%2c353.16C150.112%2c388.998%2c184.673%2c417.722%2c225.399%2c416.736' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M393.435%2c494.331C437.592%2c493.637%2c485.232%2c486.75%2c508.525%2c449.23C532.826%2c410.086%2c525.397%2c359.78%2c501.374%2c320.465C478.407%2c282.879%2c437.483%2c261.079%2c393.435%2c260.882C349.025%2c260.684%2c307.561%2c281.966%2c283.815%2c319.494C258.22%2c359.944%2c246.477%2c412.393%2c271.905%2c452.949C296.27%2c491.809%2c347.574%2c495.052%2c393.435%2c494.331' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M351.035%2c417.33C372.496%2c417.947%2c397.724%2c420.701%2c409.302%2c402.621C421.377%2c383.765%2c411.459%2c359.95%2c400.16%2c340.619C388.998%2c321.522%2c373.137%2c303.813%2c351.035%2c302.931C327.616%2c301.997%2c305.857%2c315.841%2c294.617%2c336.408C283.801%2c356.199%2c285.398%2c380.928%2c298.297%2c399.429C309.676%2c415.751%2c331.146%2c416.758%2c351.035%2c417.33' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1224.365%2c443.467C1284.102%2c445.492%2c1340.597%2c409.62%2c1366.968%2c355.981C1390.91%2c307.284%2c1370.713%2c251.712%2c1340.947%2c206.341C1314.525%2c166.067%2c1272.533%2c138.504%2c1224.365%2c138.62C1176.395%2c138.735%2c1133.698%2c165.927%2c1108.751%2c206.9C1082.667%2c249.741%2c1075.559%2c301.785%2c1097.582%2c346.848C1122.587%2c398.014%2c1167.449%2c441.537%2c1224.365%2c443.467' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M14.946%2c391.881C40.734%2c389.949%2c60.755%2c373.239%2c75.222%2c351.804C92.336%2c326.448%2c110.756%2c296.885%2c97.752%2c269.196C83.385%2c238.606%2c48.709%2c221.966%2c14.946%2c223.459C-16.585%2c224.853%2c-40.57%2c248.509%2c-56.077%2c275.999C-71.259%2c302.912%2c-79.458%2c335.839%2c-63.311%2c362.185C-47.685%2c387.681%2c-14.874%2c394.116%2c14.946%2c391.881' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1065.33 30.01 a115.31 115.31 0 1 0 230.62 0 a115.31 115.31 0 1 0 -230.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M120.075%2c640.815C182.05%2c644.38%2c240.624%2c608.203%2c270.45%2c553.76C299.222%2c501.24%2c291.784%2c436.875%2c259.396%2c386.504C229.557%2c340.098%2c175.221%2c321.57%2c120.075%2c319.895C61.086%2c318.103%2c-5.708%2c326.178%2c-34.717%2c377.572C-63.439%2c428.457%2c-32.666%2c487.658%2c-3.048%2c538.026C25.997%2c587.421%2c62.868%2c637.524%2c120.075%2c640.815' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1093.939%2c333.7C1154.583%2c332.793%2c1208.067%2c296.542%2c1237.911%2c243.742C1267.264%2c191.811%2c1267.614%2c129.205%2c1239.159%2c76.777C1209.274%2c21.714%2c1156.571%2c-20%2c1093.939%2c-21.52C1028.839%2c-23.1%2c967.891%2c12.659%2c935.977%2c69.421C904.661%2c125.119%2c909.528%2c193.316%2c942.311%2c248.163C974.221%2c301.55%2c1031.749%2c334.63%2c1093.939%2c333.7' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M407.46 546.08 a118.49 118.49 0 1 0 236.98 0 a118.49 118.49 0 1 0 -236.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        height: 100%;
        overflow: hidden;
        
    }
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(28, 83, 142, 0.4);
        margin: 0;
        
    
    }
    
    .nav-links a {
        display: flex;
        font-family: 'Bebas Neue', cursive, sans-serif;
        font-size: 2rem;
        color: #f8d605;
        text-decoration: none;
        
        
    }
    
    a{
        text-decoration: none;
    }
    
    .profile-picture {
        margin: 5px 20px;
        height: 90px;
        border-radius: 50%;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.6);
        
    }
    li {
    
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        margin: 10px 20px;
    }
    
    
    
    ul {
        display: flex;
        justify-content: space-around;
        margin-right: 100px;
    }
    
    .welcome-title{
        margin-top: 100px;
        font-family: 'Bebas Neue', cursive, sans-serif;
        font-size: 9rem;
        display: flex;
        justify-content: center;
        letter-spacing: 4px;
        margin-bottom: 15px;
        text-align: center;
        color: antiquewhite;
        line-height: 50px;
    
        
    }
    .short-bio {
       text-align: center;
        font-family: 'Abel', cursive, sans-serif;
        font-size: 2rem;
        width: 50%;
        margin: 50px auto;
        font-weight: 200;
        color: #e5ab09;
        
    }
    
    .socials-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background: rgba(28, 83, 142, 0.4);
        width: 30%;
        padding:5px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.2);
    }
    .socials {
        margin-top: 20px;
        font-size: 2rem;
        cursor: pointer;
        padding: 7px;
        text-align: center;
    
    }
    .projects-btn {
        background: #f8d605;
        color: #0E2A47;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        padding: 20px 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
        font-family: 'Bebas Neue', sans-serif ;
        font-size: 1.5rem;
        cursor: pointer;
    
    }
    
    .projects-btn:hover {
        background: antiquewhite;
        color: #0E2A47;
        margin-top: 80px;
    
    }
    
    
    i {
        color:#f8d605;
        text-decoration: none;
    }
    i:hover {
        color:antiquewhite;
    }
    .arrow-btn {
        font-size: 1.5rem;
        margin-top: 50px;
    
        text-align: center;
        padding-bottom: 70px;
        
    }
    
    .about{
        background: antiquewhite;
       height:600px;
    
    }
    
    .projects {
        padding-top: 10px;
    }
    h1{
        text-align: center;
        color: #f8d605 ;
       
    
    }
    .projects-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        
        
    }
    
    .card-project {
        border: 1px solid rgba(248,214,5);
        background: rgba(248,214,5, 0.5);
        border-radius: 20px;
        width: 100%;
        height: 550px;
        padding-top: 5px;
        box-shadow: 2px 4px 10px rgba(248,214,5, 0.4);
    
    }
    
    .project-title {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
       
    }
    
    .laptop{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin:0 auto;
    }
    
    .project-description {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        margin-top: 20px;
        
    }
    
    .card-buttons {
       
        margin: 0 30px;
        border:none;
        width: 100%;
        
    }
    .card-btn {
        color: #f8d605;
        background: #0E2A47;
        text-align: center;
        width: 150px;
        padding: 12px 30px;
        margin: 0 auto;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
        font-family: 'Bebas Neue', sans-serif ;
        font-size: 30px;
        cursor: pointer; 
        
    }
    
}


@media (min-width: 1024px){
    header {
        background-size:cover;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M225.399%2c416.736C264.842%2c415.781%2c294.516%2c383.911%2c312.436%2c348.76C328.594%2c317.065%2c328.339%2c280.155%2c310.812%2c249.196C293.009%2c217.75%2c261.524%2c195.893%2c225.399%2c195.019C187.745%2c194.108%2c151.855%2c212.562%2c132.511%2c244.88C112.64%2c278.077%2c112.344%2c319.124%2c130.741%2c353.16C150.112%2c388.998%2c184.673%2c417.722%2c225.399%2c416.736' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M393.435%2c494.331C437.592%2c493.637%2c485.232%2c486.75%2c508.525%2c449.23C532.826%2c410.086%2c525.397%2c359.78%2c501.374%2c320.465C478.407%2c282.879%2c437.483%2c261.079%2c393.435%2c260.882C349.025%2c260.684%2c307.561%2c281.966%2c283.815%2c319.494C258.22%2c359.944%2c246.477%2c412.393%2c271.905%2c452.949C296.27%2c491.809%2c347.574%2c495.052%2c393.435%2c494.331' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M351.035%2c417.33C372.496%2c417.947%2c397.724%2c420.701%2c409.302%2c402.621C421.377%2c383.765%2c411.459%2c359.95%2c400.16%2c340.619C388.998%2c321.522%2c373.137%2c303.813%2c351.035%2c302.931C327.616%2c301.997%2c305.857%2c315.841%2c294.617%2c336.408C283.801%2c356.199%2c285.398%2c380.928%2c298.297%2c399.429C309.676%2c415.751%2c331.146%2c416.758%2c351.035%2c417.33' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1224.365%2c443.467C1284.102%2c445.492%2c1340.597%2c409.62%2c1366.968%2c355.981C1390.91%2c307.284%2c1370.713%2c251.712%2c1340.947%2c206.341C1314.525%2c166.067%2c1272.533%2c138.504%2c1224.365%2c138.62C1176.395%2c138.735%2c1133.698%2c165.927%2c1108.751%2c206.9C1082.667%2c249.741%2c1075.559%2c301.785%2c1097.582%2c346.848C1122.587%2c398.014%2c1167.449%2c441.537%2c1224.365%2c443.467' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M14.946%2c391.881C40.734%2c389.949%2c60.755%2c373.239%2c75.222%2c351.804C92.336%2c326.448%2c110.756%2c296.885%2c97.752%2c269.196C83.385%2c238.606%2c48.709%2c221.966%2c14.946%2c223.459C-16.585%2c224.853%2c-40.57%2c248.509%2c-56.077%2c275.999C-71.259%2c302.912%2c-79.458%2c335.839%2c-63.311%2c362.185C-47.685%2c387.681%2c-14.874%2c394.116%2c14.946%2c391.881' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1065.33 30.01 a115.31 115.31 0 1 0 230.62 0 a115.31 115.31 0 1 0 -230.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M120.075%2c640.815C182.05%2c644.38%2c240.624%2c608.203%2c270.45%2c553.76C299.222%2c501.24%2c291.784%2c436.875%2c259.396%2c386.504C229.557%2c340.098%2c175.221%2c321.57%2c120.075%2c319.895C61.086%2c318.103%2c-5.708%2c326.178%2c-34.717%2c377.572C-63.439%2c428.457%2c-32.666%2c487.658%2c-3.048%2c538.026C25.997%2c587.421%2c62.868%2c637.524%2c120.075%2c640.815' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1093.939%2c333.7C1154.583%2c332.793%2c1208.067%2c296.542%2c1237.911%2c243.742C1267.264%2c191.811%2c1267.614%2c129.205%2c1239.159%2c76.777C1209.274%2c21.714%2c1156.571%2c-20%2c1093.939%2c-21.52C1028.839%2c-23.1%2c967.891%2c12.659%2c935.977%2c69.421C904.661%2c125.119%2c909.528%2c193.316%2c942.311%2c248.163C974.221%2c301.55%2c1031.749%2c334.63%2c1093.939%2c333.7' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M407.46 546.08 a118.49 118.49 0 1 0 236.98 0 a118.49 118.49 0 1 0 -236.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        height: 100%;
        overflow:hidden;
    
    }
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(28, 83, 142, 0.4);
        margin: 0;
        
    
    }
    
    .nav-links a {
        display: flex;
        font-family: 'Bebas Neue', cursive, sans-serif;
        font-size: 2rem;
        color: #f8d605;
        text-decoration: none;
        
        
    }
    
    a{
        text-decoration: none;
    }
    
    .profile-picture {
        margin: 5px 20px;
        height: 90px;
        border-radius: 50%;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.6);
        
    }
    li {
    
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        margin: 10px 40px;
    }
    
    
    
    ul {
        display: flex;
        justify-content: space-around;
        margin-right: 100px;
    }
    
    .welcome-title{
        margin-top: 100px;
        font-family: 'Bebas Neue', cursive, sans-serif;
        font-size: 9rem;
        display: flex;
        justify-content: center;
        letter-spacing: 4px;
        margin-bottom: 15px;
        text-align: center;
        color: antiquewhite;
    
        
    }
    .short-bio {
       text-align: center;
        font-family: 'Abel', cursive, sans-serif;
        font-size: 2rem;
        width: 50%;
        margin: 50px auto;
        font-weight: 200;
        color: #e5ab09;
        
    }
    
    .socials-bar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position:absolute;
        background: rgba(28, 83, 142, 0.4);
        margin-top: -720px;
        width: 50px;
        padding:5px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.2);
    }
    .socials {
        margin-top: 20px;
        font-size: 2rem;
        cursor: pointer;
        padding: 7px;
        text-align: center;
    
    }
    .projects-btn {
        background: #f8d605;
        color: #0E2A47;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-top: 75px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        padding: 20px 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
        font-family: 'Bebas Neue', sans-serif ;
        font-size: 1.5rem;
        cursor: pointer;
    
    }
    
    .projects-btn:hover {
        background: antiquewhite;
        color: #0E2A47;
        margin-top: 80px;
    
    }
    
    
    i {
        color:#f8d605;
        text-decoration: none;
    }
    i:hover {
        color:antiquewhite;
    }
    .arrow-btn {
        font-size: 1.5rem;
        margin-top: 50px;
    
        text-align: center;
        padding-bottom: 70px;
        
    }
    
    .about{
        background: antiquewhite;
       height:600px;
    
    }
    
    .projects {
        padding-top: 10px;
    }
    h1{
        text-align: center;
        color: #f8d605 ;
       
    
    }
    .projects-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
        gap: 10px;
        
        
        
    }
    
    .card-project {
        border: 1px solid rgba(248,214,5);
        background: rgba(248,214,5, 0.5);
        border-radius: 20px;
        width: 100%;
        height: 600px;
        padding-top: 5px;
        box-shadow: 2px 4px 10px rgba(248,214,5, 0.4);
    
    }
    
    .project-title {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
       
    }
    
    .laptop{
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .project-description {
        width: 85%;
        text-align: center;
        margin: 0 auto;
        font-family: 'Abel', sans-serif;
        font-size: 20px;
        margin-top: 20px;
        
    }
    
    .card-buttons {
        display: flex;
        justify-content: center;
        margin: 0 30px;
        
    }
    .card-btn {
        color: #f8d605;
        background: #0E2A47;
        text-align: center;
        width: 150px;
        padding: 12px 30px;
        margin: 0 auto;
        border-radius: 10px;
        border: none;
        box-shadow: 3px 3px 20px rgb(22, 21, 21, 0.3);
        font-family: 'Bebas Neue', sans-serif ;
        font-size: 30px;
        cursor: pointer; 
    }
    
    
    

}
